<div hidden data-metamask-target="notification" class="absolute top-5 right-5 w-full max-w-xs bg-green-100 border-t-4 border-green-500 text-green-700 rounded-b px-5 py-3 shawdow-md">
  <div class="flex items-center">
    <div>
      <p class="type font-bold">Title</p>
      <p class="message text-sm">Sample message</p>
    </div>
  </div>
</div>
